body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #f1f1f1;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 70px;
}

.logo-container {
  padding-left: 20px;
}

.logo-container img {
  height: 57px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header-center {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header-center button {
  margin: 0 10px;
}

.pdf-container {
  margin-top: 80px; /* Чтобы не перекрывать хедер */
}

.pdf-page {
  margin: 20px auto;
  display: block;
}

/* Стили для футера, если он будет добавлен */
.footer {
  background-color: #4a4a4a;
  color: white;
  padding: 20px 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  text-align: center;
}

.footer-logo {
  height: 40px;
  margin-bottom: 10px;
}
.footer-link {
  height: 15px;
  margin-bottom: 25px;
}

.footer p {
  margin: 0;
  font-size: 7px;
}
